<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/myapp/css/main.css"/>
    <title>JINFILM</title>

    <script src="https://kit.fontawesome.com/2f259abc4b.js" crossorigin="anonymous"></script>
    <script src="/static/myapp/js/main.js"></script>
</head>

<body>
    <div class="header">
        {% comment %} <div class="top"> {% endcomment %}
            <div class="top" id="main-logo">
                <a href="/">
                <img src="/static/myapp/images/logo.png" alt="JINFILM">
                </a>
            </div>
        {% comment %} </div> {% endcomment %}
        <div class="menu" id="top-menu">
            <ul role="list" class="top-menu-list">
                <li class="list-item">
                    <a id="about-link" class="top-menu-link">About</a>
                </li>
                <li class="list-item">
                    <a id="artists-link" class="top-menu-link">Artists</a>
                    <ul class="sub-menu">
                        <li id="submenu1"><a href="/artist1">Kang JIN Cheol</a></li>
                        <li id="submenu2"><a href="/artist2">Kim JIN</a></li>
                    </ul>
                </li>
                <li class="list-item">
                    <a id="contact-link" class="top-menu-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="artist_main">
        <div class="artist1">
            <p id="job">PHOTOGRAPHER | VIDEOGRAPHER</p>
            {% comment %} <i class="fa-solid fa-camera"></i> {% endcomment %}
            <p id="name">강진철 / Kang JIN Cheol</p>

            <p id="profile">PROFILE</p>
            <p id="profile_list">Nae yeong, Jae Hyun, Min Gi, Gun Woo, Jung Hoo, Jung Hoon, Jung Ahn, IH(인천도시공사), Dong Hyun</p>
            <p id="snap">SNAP</p>
            <p id="snap_list">YangYang, Fukuoka, Musical Snap, Seoul</p>
            <p id="ad">ADVERTISING</p>
            <p id="ad_list">Getmostone Fitness, Kumota</p>

            <p id="cv">CV</p>
            <p id="cv_list">
            現 JIN Film 대표 / 대표작가 (2023 ~ )
            <br>패션모델 축구팀 290fc 메인 촬영 작가
            <br>Team Zero Base x 배구선수 임성빈 홍보영상 촬영, 편집
            <br>인천도시공사 20주년 회고록 프로필 사진 촬영
            <br>일반인 뮤지컬극단 S.A.M 전속 작가
            <br>Gemstone Fitness 부산 서면점 스케치 사진 촬영
            <br>Kumotan 대구 매장스케치 촬영, 홍보 영상 촬영
            <br>동국대 경찰사법대학 ‘캠퍼스폴리스’ 대내외 홍보영상 촬영, 편집
            <br>은평 혁신 문화축제 영상 총 기획 및 편집
            <br>前 광고대행사 PNR커뮤니케이션 영상 총괄 담당 PD (2020 ~ 2023)
            <br>국립호남권생물자원관 SNS 영상 촬영, 편집 담당
            <br>경북관광공사 SNS 영상 촬영, 편집 담당
            <br>서울대공원 SNS 영상 촬영, 편집 담당
            <br>대구관광재단 유튜브채널 컨텐츠 ‘두근두근 대구’ 시리즈 총괄 기획, 촬영, 편집 담당
            <br>대구교통공사 SNS 영상 촬영, 편집 담당
            <br>수성구청 SNS 영상 촬영, 편집 담당
            <br>외식브랜드 SPC ‘스트릿’ SNS 영상 촬영, 편집 담당
            <br>외식브랜드 SPC ‘라그릴리아’ SNS 영상 촬영, 편집 담당
            <br>외식브랜드 SPC ‘리나스’ SNS 영상 촬영, 편집 담당
            <br>외식브랜드 SPC ‘피그인더가든’ SNS 영상 촬영, 편집 담당
            <br>외식브랜드 SPC ‘패션파이브’ SNS 영상 촬영, 편집 담당
            <br>네이버 포스트 ‘현대 트럭앤버스’ 영상 촬영, 편집 담당
            </p>
        </div>
        <div class="artist_img">
            <img src="/static/myapp/images/artist1.png" alt="JINCHOEL">
        </div>
    </div>
    <div>
        <ul class="photo_or_video">
            <li id="photo" style="font-weight: bold; text-decoration: underline;">PHOTOGRAPHY</li>
            <li id="separator">|</li>
            <li id="video">VIDEOGRAPHY</li>
        </ul>
    </div>
    <div>
        <ul class="concept_of_photo">
            <li id="profile_menu">PROFILE</li>
            <li id="separator">|</li>
            <li id="snap_menu">SNAP</li>
            <li id="separator">|</li>
            <li id="ad_menu">ADVERTISING</li>
            <li id="separator">|</li>
            <li id="fashion_menu">FASHION</li>
        </ul>
    </div>
    <div class="portfolio">
        <div class="profile1">
            <p><br>PROFILE | Nae Yeong (2023) </p>
            <div class="profile1_img">
                <img src="/static/myapp/images/profile/naeyeong/naeyeong_1.jpg" alt="naeyeong_1">
                <img src="/static/myapp/images/profile/naeyeong/naeyeong_2.jpg" alt="naeyeong_2">
                <img src="/static/myapp/images/profile/naeyeong/naeyeong_3.jpg" alt="naeyeong_3">
                <img src="/static/myapp/images/profile/naeyeong/naeyeong_4.jpg" alt="naeyeong_4">
            </div>
        </div>
        <div class="profile2">
            <p>PROFILE | Jae Hyun (2023)</p>
            <div class="profile2_img">
                <img src="/static/myapp/images/profile/jaehyun/jaehyun_1.jpg" alt="jaehyun_1">
                <img src="/static/myapp/images/profile/jaehyun/jaehyun_2.jpg" alt="jaehyun_2">
                <img src="/static/myapp/images/profile/jaehyun/jaehyun_3.jpg" alt="jaehyun_3">
                <img src="/static/myapp/images/profile/jaehyun/jaehyun_4.jpg" alt="jaehyun_4">
            </div>
            
        </div>
        <div class="profile3">
            <p>PROFILE | Min Gi (2023)</p>
            <div class="profile3_img">
                <img src="/static/myapp/images/profile/mingi/mingi_1.jpg" alt="mingi_1">
                <img src="/static/myapp/images/profile/mingi/mingi_2.jpg" alt="mingi_2">
                <img src="/static/myapp/images/profile/mingi/mingi_3.jpg" alt="mingi_3">
                <img src="/static/myapp/images/profile/mingi/mingi_4.jpg" alt="mingi_4">
                <img src="/static/myapp/images/profile/mingi/mingi_5.jpg" alt="mingi_5">
                <img src="/static/myapp/images/profile/mingi/mingi_6.jpg" alt="mingi_6">
            </div>
        </div>
        <div class="profile4">
            <p>PROFILE | Gun Woo (2023)</p>
            <div class="profile4_img">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_1.jpg" alt="gunwoo_1">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_2.jpg" alt="gunwoo_2">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_3.jpg" alt="gunwoo_3">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_4.jpg" alt="gunwoo_4">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_5.jpg" alt="gunwoo_5">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_6.jpg" alt="gunwoo_6">
                <img src="/static/myapp/images/profile/gunwoo/gunwoo_7.jpg" alt="gunwoo_7">
            </div>
        </div>
        <div class="profile5">
            <p>PROFILE | Jung Hoo (2023)</p>
            <div class="profile5_img">
                <img src="/static/myapp/images/profile/junghoo/junghoo_1.jpg" alt="junghoo_1">
                <img src="/static/myapp/images/profile/junghoo/junghoo_2.jpg" alt="junghoo_2">
                <img src="/static/myapp/images/profile/junghoo/junghoo_3.jpg" alt="junghoo_3">
                <img src="/static/myapp/images/profile/junghoo/junghoo_4.jpg" alt="junghoo_4">
                <img src="/static/myapp/images/profile/junghoo/junghoo_5.jpg" alt="junghoo_5">
                <img src="/static/myapp/images/profile/junghoo/junghoo_6.jpg" alt="junghoo_6">
                <img src="/static/myapp/images/profile/junghoo/junghoo_7.jpg" alt="junghoo_7">
                <img src="/static/myapp/images/profile/junghoo/junghoo_8.jpg" alt="junghoo_8">
                <img src="/static/myapp/images/profile/junghoo/junghoo_9.jpg" alt="junghoo_9">
                <img src="/static/myapp/images/profile/junghoo/junghoo_10.jpg" alt="junghoo_10">
                <img src="/static/myapp/images/profile/junghoo/junghoo_11.jpg" alt="junghoo_11">
                <img src="/static/myapp/images/profile/junghoo/junghoo_12.jpg" alt="junghoo_12">
                <img src="/static/myapp/images/profile/junghoo/junghoo_13.jpg" alt="junghoo_13">
            </div>
        </div>
        <div class="profile6">
            <p>PROFILE | Jung Hoo2 (2023)</p>
            <div class="profile6_img">
                <img src="/static/myapp/images/profile/junghoo2/junghoo2_1.jpg" alt="junghoo2_1">
                <img src="/static/myapp/images/profile/junghoo2/junghoo2_2.jpg" alt="junghoo2_2">
                <img src="/static/myapp/images/profile/junghoo2/junghoo2_3.jpg" alt="junghoo2_3">
                <img src="/static/myapp/images/profile/junghoo2/junghoo2_4.jpg" alt="junghoo2_4">
                <img src="/static/myapp/images/profile/junghoo2/junghoo2_5.jpg" alt="junghoo2_5">
                <img src="/static/myapp/images/profile/junghoo2/junghoo2_6.jpg" alt="junghoo2_6">
            </div>
        </div>
        <div class="profile7">
            <p>PROFILE | Jung Hoon (2023)</p>
            <div class="profile7_img">
                <img src="/static/myapp/images/profile/junghoon/junghoon_1.jpg" alt="junghoon_1">
                <img src="/static/myapp/images/profile/junghoon/junghoon_2.jpg" alt="junghoon_2">
                <img src="/static/myapp/images/profile/junghoon/junghoon_3.jpg" alt="junghoon_3">
                <img src="/static/myapp/images/profile/junghoon/junghoon_4.jpg" alt="junghoon_4">
                <br>
                <img src="/static/myapp/images/profile/junghoon/junghoon_5.jpg" alt="junghoon_5">
                <img src="/static/myapp/images/profile/junghoon/junghoon_6.jpg" alt="junghoon_6">
                <img src="/static/myapp/images/profile/junghoon/junghoon_7.jpg" alt="junghoon_7">
                <img src="/static/myapp/images/profile/junghoon/junghoon_8.jpg" alt="junghoon_8">
                <img src="/static/myapp/images/profile/junghoon/junghoon_9.jpg" alt="junghoon_9">
                <img src="/static/myapp/images/profile/junghoon/junghoon_10.jpg" alt="junghoon_10">
            </div>
        </div>
        <div class="profile8">
            <p>PROFILE | Jung Ahn (2023)</p>
            <div class="profile8_img">
                <img src="/static/myapp/images/profile/jungahn/jungahn_1.jpg" alt="jungahn_1">
                <img src="/static/myapp/images/profile/jungahn/jungahn_2.jpg" alt="jungahn_2">
                <img src="/static/myapp/images/profile/jungahn/jungahn_3.jpg" alt="jungahn_3">
                <img src="/static/myapp/images/profile/jungahn/jungahn_4.jpg" alt="jungahn_4">
                <img src="/static/myapp/images/profile/jungahn/jungahn_5.jpg" alt="jungahn_5">
                <br>
                <img src="/static/myapp/images/profile/jungahn/jungahn_6.jpg" alt="jungahn_6">
                <img src="/static/myapp/images/profile/jungahn/jungahn_7.jpg" alt="jungahn_7">
                <img src="/static/myapp/images/profile/jungahn/jungahn_8.jpg" alt="jungahn_8">
                <img src="/static/myapp/images/profile/jungahn/jungahn_9.jpg" alt="jungahn_9">
                <img src="/static/myapp/images/profile/jungahn/jungahn_10.jpg" alt="jungahn_10">
                <br>
                <img src="/static/myapp/images/profile/jungahn/jungahn_11.jpg" alt="jungahn_11">
                <img src="/static/myapp/images/profile/jungahn/jungahn_12.jpg" alt="jungahn_12">
                <img src="/static/myapp/images/profile/jungahn/jungahn_13.jpg" alt="jungahn_13">
                <img src="/static/myapp/images/profile/jungahn/jungahn_14.jpg" alt="jungahn_14">
                <img src="/static/myapp/images/profile/jungahn/jungahn_15.jpg" alt="jungahn_15">
            </div>
        </div>
        <div class="profile9">
            <p>PROFILE | IH(인천도시공사) (2023)</p>
            <div class="profile9_img">
                <img src="/static/myapp/images/profile/IH/ih_1.jpg" alt="ih_1">
                <img src="/static/myapp/images/profile/IH/ih_2.jpg" alt="ih_2">
                <img src="/static/myapp/images/profile/IH/ih_3.jpg" alt="ih_3">
                <img src="/static/myapp/images/profile/IH/ih_4.jpg" alt="ih_4">
                <img src="/static/myapp/images/profile/IH/ih_5.jpg" alt="ih_5">
                <img src="/static/myapp/images/profile/IH/ih_6.jpg" alt="ih_6">
                <img src="/static/myapp/images/profile/IH/ih_7.jpg" alt="ih_7">
                <img src="/static/myapp/images/profile/IH/ih_8.jpg" alt="ih_8">
            </div>
        </div>
        <div class="profile10">
            <p>PROFILE | Dong Hyun (2023)</p>
            <div class="profile10_img">
                <img src="/static/myapp/images/profile/donghyun/donghyun_1.jpg" alt="donghyun_1">
                <img src="/static/myapp/images/profile/donghyun/donghyun_2.jpg" alt="donghyun_2">
                <img src="/static/myapp/images/profile/donghyun/donghyun_3.jpg" alt="donghyun_3">
                <img src="/static/myapp/images/profile/donghyun/donghyun_4.jpg" alt="donghyun_4">
                <img src="/static/myapp/images/profile/donghyun/donghyun_5.jpg" alt="donghyun_5">
            </div>
        </div>
        </div>
    </div>
</body>
</html>