<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/myapp/css/main.css"/>
    <title>JINFILM</title>

    <script src="/static/myapp/js/main.js"></script>
    <script src="https://kit.fontawesome.com/2f259abc4b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <div class="top">
            <div id="main-logo">
                <img src="/static/myapp/images/logo.png" alt="JINFILM">
            </div>
        </div>
        <div class="menu" id="top-menu">
            <ul role="list" class="top-menu-list">
                <li class="list-item">
                    <a id="about-link" class="top-menu-link">About</a>
                </li>
                <li class="list-item">
                    <a id="artists-link" class="top-menu-link">Artists</a>
                    <ul class="sub-menu">
                        <li><a href="/artist1">Kang JIN Cheol</a></li>
                        <li><a href="/artist2">Kim JIN</a></li>
                    </ul>
                </li>
                <li class="list-item">
                    <a id="contact-link" class="top-menu-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="p_contact">
            <p class="p_contact_1">
                <br><br><br><i class="fa-regular fa-copyright"></i> 2024 JINFILM. All right reserved<br>
            </p>
            <div class="map">
                <a href="https://maps.google.com" target="_blank">GOOGLE MAP</a> | 
                <a href="https://map.kakao.com" target="_blank">KAKAO MAP</a>
            </div>
            <p class="p_contact_2">
                <br>서울시 중구 필동로 1길 30 동국대학교 102호<br> 30, Pildong-ro 1-gil, Jung-gu, Seoul, Republic of Korea<br><br>
                <i class="fa-solid fa-phone"></i>+82-(0)10-2349-8565<br>
                <i class="fa-regular fa-envelope"></i>  kangjc0530@jinfilm.co.kr</br>
                <i class="fa-brands fa-instagram"></i>  INSTA : @jinfilm
            </p>
        </div>
    </div>
</body>
</html>
