/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}
